html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: calc(1vw + 0.5rem);
    background-color: black;
}

#root {
    text-align: center;
    display: flex;
    flex-direction: column;
}

p {
    color: white;
    font-size: 2vw;
}

.designs-container {
    margin-top: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2vw;
    padding-bottom: 4vw;
}

.designs-container img
{
    width: 80vw;
}

#cicd
{
    scale: 0.95;
}

@media (max-width: 800px) {
    p {
        color: white;
        font-size: 3vw;
    }

    .designs-container {
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2vw;
        padding-bottom: 4vw;
    }

    .designs-container img
    {
        width: 80vw;
    }
}