/*
    . = Class Selector
    # = ID Selector
      = Element Selector
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 98%;
    font-size: calc(1vw + 0.5rem);
}

#root {
    transform-origin: top center;
    scale: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}