#image-grid {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: center; 
    align-items: flex-start; 
    row-gap: 0.5rem;
    column-gap: 6rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#image-grid-left,
#image-grid-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 420px;
    max-width: 35vw;
    margin: 0;
    padding: 0;
    gap: 3vw;
}

#image-grid img {
    width: 100%;
    border-radius: 0;
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
    margin: 0;
    padding-top: 2vw;
}

#image-grid img:hover {
    transform: scale(1.03);
}

#image-grid p {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: ghostwhite;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin-top: 0.3rem;
    line-height: 1.2;
    font-weight: 400;
    padding: 0;
}

/* Mobile layout fix */
@media (max-width: 800px) {
    #image-grid {
    }

    #image-grid img:hover {
    }

    #image-grid-left,
    #image-grid-right {
        max-width: 75%;
        align-items: center;
    }

    #image-grid img {
        width: 100%;
        padding-top: 2rem;
    }

    #image-grid p {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        color: ghostwhite;
        font-size: 2.3vw;
        text-align: center;
        width: 100%;
        margin-top: 0.3rem;
        line-height: 1.2;
        font-weight: 400;
        padding: 0;
        transform: translate(0, 0.8rem);
    }
}
