body {

}

#top-toolbar {
    display: flex;
    background-color: black;
    height: 1.9rem;
    width: 100%;
    gap: 6px;
}

#top-toolbar a {
    display: flex;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 335;
    text-decoration-line: none;
    font-size: 0.75rem;
    margin-left: 1rem;
    margin-top: 10px;
}

@media (max-width: 900px) {

    #top-toolbar {
        display: flex;
        background-color: black;
        height: 1.9rem;
        width: 100%;
        gap: 0px;
    }

    #top-toolbar a {
        display: flex;
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        color: white;
        font-weight: 300;
        text-decoration-line: none;
        font-size: 0.6rem;
        margin-left: 1rem;
        margin-top: 6px;
    }
}
