html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: calc(1vw + 0.5rem);
    background-color: black;
}

#root {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#skills-main-section {
    display: flex;
    background-color: black;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-top: 3rem;
    z-index: 1;
}

#skills-main-section p {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: ghostwhite;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 0.8rem;  
}

#skills-advance {
    display: flex;
    background-color: black;
    height: 20vh;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: -3.8vw;
}

#skills-advance p {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: ghostwhite;
    font-size: 2.3rem;
    font-weight: 375;
    margin-left: 3rem;
    margin-top: 1.0rem;
    z-index: 1;
}

#skills-advance a {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #03FF68;
    font-size: 0.97rem;
    font-weight: 329;
    margin-left: 3.3rem;
    margin-top: -2.0rem;
    text-decoration: none;
}

@media (max-width: 900px) {

    #skills-main-section {
        display: flex;
        background-color: black;
        height: 26rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding-top: 0rem;
    }

    #skills-main-section p {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        color: ghostwhite;
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 0.2rem;
    }

    #skills-advance {
        display: flex;
        background-color: black;
        height: 20vh;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        margin-top: -3.8vw;
    }


    #skills-advance p {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        color: ghostwhite;
        font-size: 1.4rem;
        font-weight: 400;
        margin-left: 2rem;
    }

    #skills-advance a {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        color: #03FF68;
        font-size: 0.6rem;
        font-weight: 400;
        margin-left: 2.2rem;
        margin-top: -1.3rem;
        text-decoration: none;
    }
}