#section-two {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: center; 
    align-items: flex-start; 
    row-gap: 0.5rem;
    column-gap: 6rem;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 0;
}

#section-two-left,
#section-two-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    flex: 1 1 420px;
    max-width: 500px;
    margin: 0;
    padding: 0;
    gap: 3vw;
}

#section-two img {
    width: 100%;
    max-width: 500px;
    border-radius: 0;
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
    margin: 0;
    padding-top: 2vw;
}

#section-two img:hover {
    transform: scale(1.03);
}

#section-two p {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: ghostwhite;
    font-size: 1.2rem;
    text-align: center; 
    width: 100%; 
    margin-top: 0.3rem;
    line-height: 1.2;
    font-weight: 400;
    padding: 0;     
}

/* Mobile layout fix */
@media (max-width: 900px) {
    #section-two {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 0;
        padding: 2vw; 
        padding-top: 0vw;
        margin: 0 auto;
    }

    #section-two img:hover {

    }

    #section-two-left,
    #section-two-right {
        max-width: 90%;
        align-items: center; 
    }

    #section-two img {
        width: 100%;
        padding-top: 2rem; 
    }

    #section-two p {
        font-size: 1rem;
        margin-top: 5.5vw;
    }
}
