body {

}

#section-three {
    display: flex;
    background-color: black;
    height: 125vw;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-top: 2.7vw;
}

#section-three #image-one{
    width: 90vw;
}

#section-three p {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: ghostwhite;
    font-size: 2vw;
    padding-bottom: 1.35rem;
    padding-top: 1.35rem;
}

#section-three img {
    width: 70vw;
}

@media (max-width: 400px) {
    #section-three {
        display: flex;
        background-color: black;
        height: 125vw;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding-top: 2.7vw;
        padding-bottom: 265px;
    }

    #section-three #image-one {
        width: 90vw;
    }

    #section-three p {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        color: ghostwhite;
        font-size: 1rem;
        padding-bottom: 2.35rem;
        padding-top: 2.35rem;
        padding-left: 5vw;
        padding-right: 4vw;
    }

    #section-three img {
        width: 90vw;
    }
}

@media (min-width: 400px) and (max-width: 650px) {
    #section-three {
        display: flex;
        background-color: black;
        height: 125vw;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding-top: 2.7vw;
        padding-bottom: 230px;
    }

    #section-three #image-one {
        width: 90vw;
    }

    #section-three p {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        color: ghostwhite;
        font-size: 1rem;
        padding-bottom: 2.35rem;
        padding-top: 2.35rem;
        padding-left: 5vw;
        padding-right: 4vw;
    }

    #section-three img {
        width: 85vw;
    }
}

@media (min-width: 650px) and (max-width: 900px) {
    #section-three {
        display: flex;
        background-color: black;
        height: 125vw;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding-top: 2.7vw;
        padding-bottom: 92px;
    }

    #section-three #image-one {
        width: 90vw;
    }

    #section-three p {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        color: ghostwhite;
        font-size: 1rem;
        padding-bottom: 2.35rem;
        padding-top: 2.35rem;
        padding-left: 5vw;
        padding-right: 4vw;
    }

    #section-three img {
        width: 70vw;
    }
}