body {

}

#section-three {
    display: flex;
    background-color: black;
    height: 125vw;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-top: 2.7vw;
}

#section-three #image-one{
    width: 90vw;
}

#section-three p {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: ghostwhite;
    font-size: 2vw;
    padding-bottom: 1.35rem;
    padding-top: 1.35rem;
}

#section-three img {
    width: 70vw;
}

@media (max-width: 900px) {
    #section-three {
        display: flex;
        background-color: black;
        height: 125vw;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding-top: 2.7vw;
        padding-bottom: 6vw;
    }
}